.git
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.vscode
.idea

chroma_db
chroma_db_backup_*

local_model
local_model.zip

debug_notes.py
prac.py
ingest1.py
main1.py
rag1.py
notes.py

*.docx
*.png
